---
import Layout from "../layouts/Layout.astro";
import "bootstrap/dist/css/bootstrap.css";
import Footer from "../components/footer.svelte";
import StarRater from "../components/starRater.svelte";
import 'font-awesome/css/font-awesome.css'// This isn't working for me. Causing error
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./data/*.{md,mdx,markdown}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout
      title={"Blog"}
      description={"The Blog of Porkys Pot of Pollution"}
    />
    <!--placeholder because importing causes error right now -->
    <!-- USE NPM INSTALL -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  </head>
  <body>
    <main class="bg-theme-darkRed">
      <section class="m-auto">
        <ul class="grid grid-cols-3 portrait:grid-cols-1 p-4 superGrid">
          {
            posts.map((post) => (
              <div>
                  <div class="card p-4" style="width: 300px;">
                    
                    <!--title / headline-->
                    <a href={post.url}>

                      <div class="card-body" style="height: 200px; text-align: center">
                        <p  style="font-size: 30px"
                          class="card-title font-headliner card-link dark:font-semibold"
                        >
                          {post.frontmatter.title}
                        </p>
                        <!--image of article-->
                        <div style="justify-content:center" class="circular--landscape">
                          <img
                            

                            src={post.frontmatter.heroImage}
                            alt="the main image of the article"
                          />
                        </div>

                      </div>

                      <!--author of article -->
                      <p class="font-bold font-primary">
                          <span class="dark:font-medium font-normal">by </span>{post.frontmatter.author}
                        </p>
                      <div class="float-container">
                        <!--date / last updated-->
                        <span class="float-child">
                          
                          <time
                            datetime={post.frontmatter.pubDate}
                            style="font-size: 12px"
                          >
                            {new Date(post.frontmatter.pubDate).toLocaleDateString(
                              "en-us",
                              {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                              }
                            )}

                          </time>
                        </span>
                        <!--star rating system-->
                        <StarRater numOfStars={post.frontmatter.rating}/>

                      </div>
                    </a>

                  </div>
                <br>
              </div>
              

            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    
    <style>
      .checked {
         color: darkgoldenrod;
      }
      .superGrid{
        
        width: 1050px;
        position:relative;
        left:calc(50% - 525px);
      }
      a {
        color: black;
        text-decoration: none;
      }
      .circular--landscape { display: inline-block; position: relative; width: 170px; height: 120px; overflow: hidden; border-radius: 50%; } .circular--landscape img { width: auto; height: 100%; margin-left: -0px; }
       li {
        list-style-type: none;
       }

    </style>
    
  </body>
</html>
