---
import Layout from "../layouts/Layout.astro";
import 'bootstrap/dist/css/bootstrap.css'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./data/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout title={"Blog"} description={"The Blog of Porkys Pot of Pollution"} />
  </head>
  <body>
    <main class="bg-theme-darkRed">
      <section class="m-auto">
        <ul class="grid grid-cols-3 portrait:grid-cols-1 p-4">
          {
            posts.map((post) => (
              <li>
                <div class="card p-4" style="width: 18rem;">
                  <img src={post.frontmatter.heroImage} class="card-img-top" alt="the main image of the article">
                  <div class="card-body">
                    <a href={post.url} class="card-title font-headliner card-link">{post.frontmatter.title}</a>
                    <p class="font-bold font-primary card-subtitle text-black">
                      by {post.frontmatter.author}
                    </p>
                    <time class="card-text text-md text-black" datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                    <p class="card-text text-black">{post.frontmatter.description}</p>
                    <a href={post.url} class="btn btn-primary">Read</a>
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <style>
      img {
        width: 350px;
      }
    </style>
  </body>
</html>
